#
# Serial flasher config
#
CONFIG_ESPTOOLPY_PORT="COM3"
CONFIG_ESPTOOLPY_BAUD_115200B=
CONFIG_ESPTOOLPY_BAUD_230400B=
CONFIG_ESPTOOLPY_BAUD_921600B=y
CONFIG_ESPTOOLPY_BAUD=921600

#
# WiFi Watchdog Board
#
CONFIG_WIFI_SSID=""
CONFIG_WIFI_PSW=""
CONFIG_SERVER_PORT=57015
CONFIG_DISCOVERY_PORT=57016
CONFIG_PACKET_DISCARD_TIME=0
CONFIG_SNTP_SYNC_INTERVAL=30000

#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM_APP_BIN_OFFSET=0x10000
CONFIG_APP_OFFSET=0x10000

#
# FreeRTOS SystemView Tracing
#
CONFIG_AWS_IOT_SDK=

#
# ESP32-specific
#
CONFIG_TASK_WDT=
CONFIG_ESP32_RTC_XTAL_BOOTSTRAP_CYCLES=100


#
# Wi-Fi
#
CONFIG_ESP32_WIFI_TASK_PINNED_TO_CORE_0=
CONFIG_ESP32_WIFI_TASK_PINNED_TO_CORE_1=y

#
# FreeRTOS
#
CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=1024
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y

#
# LWIP
#
CONFIG_LWIP_ETHARP_TRUST_IP_MAC=y

#
# mDNS
#
CONFIG_MDNS_MAX_SERVICES=10